%h1 Thumbs

= form_for Idea.new do |f|
  = f.label :description
  = f.text_area :description
  = f.submit

%ul
  - @ideas.each do |idea|
    %li
      = idea.description
      = idea.votes
      = button_to 'Thumbs up', thumbsup_idea_path(idea), :method => :post
