%h1 Thumbs

= form_for Idea.new do |f|
  = f.text_area :description
  = f.submit

%ul
  - @ideas.each do |idea|
    %li
      = link_to idea.description, idea, :method => :get
      %span{id: "votes_#{idea.id}"}= idea.votes
      = form_for(idea, url: thumbsup_idea_path(idea), method: :post, remote: true) do |f|
        = f.submit "Thumbs up"
