%h1
  = @idea.description

%h2
  = @idea.votes

= form_for :comment, :url => idea_comments_path(@idea), :html => { :method => :post } do |f|
  = f.text_area :content
  = f.submit "Comment"

%ul
  - @comments.each do |comment|
    %li
      = comment.content

%p
  = link_to "Home", ideas_path, :method => :get
